/* formStyles.css */

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5d3d4;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-select {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #c0a4fb;
    color: #593353;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #593353;
    color: #c0a4fb;
}

.input-container {
    background-color: #45a049;
}

.disableCaret {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}