.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5d3d4;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-logo {
    flex: 1;
}

.menu-logo Link {
    width: 50;
    height: 10px;
}

.menu-items {
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    margin: 0 0.5rem;
}

.menu-item a {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: #57304f;
    font-weight: bold;
    text-decoration: dotted;
}

.menu-item.active a {
    color: #f00;
}

a {
    text-decoration: none;
    font-weight: bold;
}